img{
   border-color: #ffffff;
   border:3px solid;
   height: 20%;
   width: 60%;
   margin: 8%;
   }
header{ 
     background: #000000;
     background-image:url('../images/flywheel.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     padding-bottom: 25px;
     padding-top:10px;
      }
h1{ 
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size:x-large;
    padding:30px;
    margin: 0px;
   }
 a{ 
 color: #000000;
 }
 body{
    margin: 20px;
    padding: 10px;
    font-size: large;
 }
 nav a{
    color: #000000;
    text-decoration: none;
    width:15%;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    margin: 2%
 }
 .active
 {
      background-color: #ffffff;
      color: #9400D3;
 }
 .left{
    width:20%;
    height: 100%;
    display: inline;
    text-align: center;
    background-color: #556623;
    background-size: cover;
    float: left;
    padding-top:2%;
    padding-bottom: 20%;
 }
 .right{
    width:79%;
    height: 100%;
    float: right;
 }
 .right a{
    color: #0000bb;
 }